/*
FFE130 Yellow
8CBA80 Green
FF2ECC Pink
4C5B5C Grey
3F5478 Blue

// New
#EFEEF0 Grey

*/


@font-face {
  font-family: gameFont;
  src: url(./ARCADECLASSIC.TTF);
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #EFEEF0;
  font-family: gameFont;
  color: #3F5478;
}

section, p {
  font-family: Lucida Console;
  text-align: justify;
  margin: 15px auto;
}

section {
  padding: 0 10px;
}

header {
  text-align: center;
  font-size: 50px;
  background-color: #FFE130;
  margin: 10px;
}

.header-box,
.ingredients-display,
.price-location-display {
  padding: 10px;
} 

.screen-display {
  margin: 0 auto;
  max-width: 480px;
  min-width: 480px;
  height: 100%;
}

.user-input-screen, .lemonade-stand-display, .instructions {
  /*width: 480px;*/
  height: 640px;
  /*margin: 15px auto;*/
  /*padding: 5px;*/
  /*background-color: #EFEEF0;*/
}

.day-animation {
  background: url(../time-animation.gif);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #dbe2ed;
  height: 160px;
  margin: 15px auto;
  border-top: 6px solid #4C5B5C;
  border-left: 6px solid #4C5B5C;
}

#day-animation-hot {
  background-image: url(../hot.gif), url(../time-animation.gif);
}

#day-animation-cloudy {
  background-image: url(../cloudy.gif), url(../time-animation.gif);
}

#day-animation-warm {
  background-image: url(../warm.gif), url(../time-animation.gif);
}

#day-animation-raining {
  background-image: url(../raining.gif), url(../time-animation.gif);
}

#day-animation-stormy {
  background-image: url(../stormy.gif), url(../time-animation.gif);
}

.day-start-numbers {
  box-sizing: border-box;
  /*width: 75%;*/
  height: 19%;
  margin: 15px auto;
  border: 4px solid #FFE130;
}

.day-start-numbers > * {
  float: left;
  font-size: 17px;
  padding: 3px;
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  height: 33.33%;
  border: 4px solid #FFE130;
}

.starting-num, .stock-num, .rent-num {
  text-align: right;
}

.day-end-numbers {
  box-sizing: border-box;
  /*width: 75%;*/
  height: 20%;
  margin: 15px auto;
  border: 4px solid #FFE130;
  font-size: 20px;
  line-height: 37px;
  /*padding: 0 10px;*/
}

.total-sales, .sales-num {
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 40%;
  border: 4px solid #FFE130;
  text-align: center;
}

.ending-balance {
  width: 50%;
  float: left;
  box-sizing: border-box;
  height: 60%;
  border: 4px solid #FFE130;
  padding: 0 18px;
}

.balance-num {
  float: left;
  text-align: right;
  box-sizing: border-box;
  width: 50%;
  height: 60%;
  font-size: 50px;
  border: 4px solid #FFE130;
}

.surplus-ingredients {
  box-sizing: border-box;
  width: 50%;
  height: 10%;
  margin: 15px auto;
  border: 4px solid #FFE130;
}

.surplus-ingredients > * {
  box-sizing: border-box;
  float: left;
  height: 50%;
  border: 4px solid #FFE130;
  padding: 2px;
}

.surplus-lemons, .surplus-sugar {
  width: 70%;
}

.surplusL-num, .surplusS-num {
  width: 30%;
}

.end-day-button, .start-button, .start {
  box-sizing: border-box;
  /*width: 30%;*/
  height: 10%;
  margin: 15px auto;
  border: 6px solid #FFE130;
  text-align: center;
  line-height: 55px;
  background: #FFE130;
  font-size: 25px;
}



.header-box {
  /*width: 70%;*/
  /*height: 12%;*/
  margin: 20px auto;
  border: 6px solid #FFE130;
}

.ingredients-display {
  /*width: 70%;*/
  /*height: 25%;*/
  margin: 15px auto;
  border: 6px solid #FFE130;
  overflow: hidden;
}

.price-location-display {
  /*box-sizing: border-box;*/
  /*width: 85%;*/
  /*height: 30%;*/
  margin: 15px auto;
  border: 6px solid #FFE130;
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 60%;
  margin: 0 auto;
  text-align: center;
  /*border: 4px solid #FF2ECC;*/
  line-height: 40px;
  font-size: 40px;
}

.day-weather-box {
  background: white;
  box-sizing: border-box;
  line-height: 33px;
  padding: 5px 10px;
}

.day-display {
  float: left;
}

.weather-report {
  text-align: right;
}

.ingredients-box {
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  height: 110px;
  /*border: 4px solid #FF2ECC;*/
}

.user-ingredient {
  width: 33.33%;
  float: left;
  text-align: center;
  margin: 15px 0;
}

.decrement {
  display: inline-block;
}

.ingredient-input {
  margin: 0 5px;
  display: inline-block;
}
.increment {
  display: inline-block;
}

.lemons-image {
  height: 100%;
  background: url(../lemon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.ice-image {
  height: 100%;
  background: url(../ice.png);
  background-repeat: no-repeat;
  background-position: center;
}

.sugar-image {
  height: 100%;
  background: url(../sugar.png);
  background-repeat: no-repeat;
  background-position: center;
}

.lemonade-price-entry {
  /*width: 75%;*/
  /*height: 60%;*/
  width: 200px;
  margin: 10px auto;
  overflow: hidden;
  /*border: 4px solid #FF2ECC;*/
}

.lemonade-image {
  float: left;
  box-sizing: border-box;
  /*width: 50%;*/
  /*height: 100%;*/
  min-height: 100px;
  min-width: 100px;
  /*border: 4px solid #FFE130;*/
  background: url(../lemonade.png);
  background-repeat: no-repeat;
  background-position: center;

}

.user-price-box {
  box-sizing: border-box;
  float: left;
  width: 100px;
  /*width: 100%;
  height: 100%;*/
  /*border: 4px solid #FFE130;*/
  /*border: 4px solid #FFE130; */
  /*overflow: hidden;*/
}

.price-input-display {
  margin: 35px auto;
  text-align: center;
}

#input-price {
  margin: 0 5px;
  display: inline-block;
}


.location-input {
  box-sizing: border-box;
  width: 100%;
  /*height: 21%;*/
  margin: 20px auto;
  /*border: 4px solid #FF2ECC;*/
  text-align: center;
  line-height: 22px;
}

.increment, .decrement {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #FFE130
}

.start-button:hover,
.end-day-button:hover,
.start:hover {
  background: #FF3030;
  border-color:#EA1717;
  color: white;
}
.increment:hover,
.decrement:hover {
  background: #fff;
}